body {
    display: flex;
    flex-direction: column;
    gap : 0px;
}
.header{
    padding: 0 180px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #1F2937;
    color : #F9FAF8;
    height : 50px;
    

  }


.nav {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 40px;
    list-style-type: none;
    font-size: 24px;
  }

.nav li a {
    text-decoration: none;
    font-size: 18px;
    color : #E5E7EB
  }
  .one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: #1F2937;
    height: 300px;
    color : #F9FAF8;

  }

.sub1 {
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    align-items: center;
    padding : 50px;
    border: 5px solid #ffcc5c;
    height: 150px;
  }


  .sub2 {
    display: flex;
    flex-basis: 500px;
    align-items: center;
    justify-content: center;
    border: 5px solid #ffcc5c;
    height: 250px;
  }

.two {
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
  }


.two h2 {
    display: flex;
    border : 5px solid #ffcc5c;
    justify-content: center;
  }
.images {
  display: flex;
  list-style: none;
  border : 5px solid #ffcc5c;
  justify-content: space-between;
  width: 1200px;

}
.images li {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  border : 5px solid #ffcc5c;

}
.three {
    background-color: #eee;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border : 5px solid #ffcc5c;
  }

.contact {
    height: 200px;
  }

.contact h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 6;
  }
  .footer {
    background-color: #777;
    height: 40px;
  }

.footer p {
    margin: 0 auto;
    line-height: 1.7;
  }