body {
    display: flex;
    flex-direction: column;
    gap : 0px;
}
.header{
    padding: 0 180px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #1F2937;
    color : #F9FAF8;
    height : 50px;
    

  }


.nav {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 40px;
    list-style-type: none;
    font-size: 24px;
  }

.nav li a {
    text-decoration: none;
    font-size: 18px;
    color : #E5E7EB
  }
  .one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: #1F2937;
    height: 300px;
    color : #F9FAF8;

  }

.sub1 {
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    align-items: center;
    padding : 50px;
    
    height: 150px;
  }


  .sub2 {
    display: flex;
    flex-basis: 500px;
    align-items: center;
    justify-content: center;
    
    height: 250px;
  }

.two {
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
  }


.two h2 {
    display: flex;
    
    justify-content: center;
  }
.images {
  display: flex;
  list-style: none;
  
  justify-content: space-between;
  width: 1200px;

}
.images li {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  

}
.three {
    background-color: #E5E7EB;
    font-style: italic ;
    color: #1F2937;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

.four {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 200px;
  
  }

.sub_four{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color:#3882F6;
  
  width: 1000px;
  border-radius: 20px;
}

.metasub1_four {
    display : flex;
    flex-direction: column;
    color:white;
    
    height: 100px;
   
  }

.metasub2_four {
  display:flex;
  align-items: center;
  justify-content: center;
    
  }  

  .footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    height: 40px;
  }

.footer p {
    margin: 0 auto;
    color : white;
    line-height: 1.7;
  }